<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InserirCLiente</servlet-name>
        <servlet-class>InserirCLiente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirProduto</servlet-name>
        <servlet-class>InserirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProduto</servlet-name>
        <servlet-class>PesquisarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarProduto</servlet-name>
        <servlet-class>ConsultarProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InserirCLiente</servlet-name>
        <url-pattern>/InserirCLiente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirProduto</servlet-name>
        <url-pattern>/InserirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProduto</servlet-name>
        <url-pattern>/PesquisarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarProduto</servlet-name>
        <url-pattern>/ConsultarProduto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
